<!DOCTYPE html>
<html>

<head>
  <!-- import Vue before Element -->
  <script src="https://cdn.jsdelivr.net/npm/vue@v2.6.11/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/element-ui@2.13.1/lib/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/src/httpVueLoader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
  <!-- import vue javascript-->
  <script src="songlist.js"></script>
  <script src="diffanalysis.js"></script>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link href="https://cdn.jsdelivr.net/npm/element-ui@2.13.1/lib/theme-chalk/index.css" rel="stylesheet">
  <title>稳音绫的工具站</title>
</head>

<body>
  <div id="app" v-cloak>
    <el-container>
      <div style="width: 100%;height: 100%;">
        <el-backtop :bottom="60"></el-backtop>
      </div>
      <el-header>
        <el-menu mode="horizontal" default-active="4" @select="handleSelect" active-text-color="#409EFF">
          <el-menu-item index="0">
            <div style="font-size: large;color:black">稳音绫的工具站</div>
          </el-menu-item>
          <el-menu-item index="1">主页</el-menu-item>
          <el-menu-item index="2">Kirapacks 合集</el-menu-item>
          <el-menu-item index="3">谱面分析</el-menu-item>
          <el-menu-item index="4">工具</el-menu-item>
          <el-menu-item index="5">Bestdori 分析</el-menu-item>
        </el-menu>
      </el-header>
      <el-main>
        <!--el-tabs tab-position='left' v-model="activename">
          <el-tab-pane label="主页" name="A">
            <div v-if="activename=='A'">
              <indexpage></indexpage>
            </div>
          </el-tab-pane>
          <el-tab-pane label="Kirapacks 合集" name="B">
            <div v-if="activename=='B'">
              <kirapack :songlist="songlist"></kirapack>
            </div>
          </el-tab-pane>
          <el-tab-pane label="谱面分析" name="C">
            <div v-if="activename=='B'">
              <diffanalysis></diffanalysis>
            </div>
          </el-tab-pane>
        </el-tabs-->
        <el-tabs tab-position="left">
          <el-tab-pane label="灰键修复器">
            <greynotefixer></greynotefixer>
          </el-tab-pane>
          <el-tab-pane label="谱面位移器">
            <notemover></notemover>
          </el-tab-pane>
          <el-tab-pane label="官谱转换器">
            <bdofficial></bdofficial>
          </el-tab-pane>
          <el-tab-pane label="BPM分析器">
            <p style="text-align: center;">注：BPM分析器引用于github上的Mikukonai大佬的成果,结果仅供参考，请使用Chrome浏览器打开</p>
            <div>
              <iframe id="content" src="https://mikukonai.com/Tempo/" style="width: 100%;" height="1000px" frameborder="no" border="0"></iframe>
            </div>
          </el-tab-pane>
        </el-tabs>
      </el-main>
    </el-container>
  </div>
</body>

</html>
<script>
  Vue.use(httpVueLoader);
  function getQueryString(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      if (pair[0] == variable) { return pair[1]; }
    }
    return (false);
  }
  var vm = new Vue({
    el: '#app',
    data: function () {
      return {
        //songlist: getsonglist(),
        //activename: "A"
      }
    },
    components: {
      //'kirapack': 'url:.\\components\\kirapack\\kirapack.vue',
      //'indexpage': 'url:.\\components\\index\\index.vue',
      //'diffanalysis': 'url:.\\components\\diffanalysis\\diffanalysis.vue'
      'greynotefixer': 'url:.\\components\\greynotefixer\\greynotefixer.vue',
      'notemover': 'url:.\\components\\notemover\\notemover.vue',
      'bdofficial': 'url:.\\components\\bdofficial\\bdofficial.vue',
      'bestdoriany': 'url:.\\components\\bestdoriany\\bestdoriany.vue'
    },
    template: ``,
    methods: {
      handleSelect(key, keypath) {
        if (key == 0) {
          window.open("./index.html", "_self");
        }
        if (key == 1) {
          window.open("./index.html", "_self");
        }
        if (key == 2) {
          window.open("./kirapack.html", "_self");
        }
        if (key == 3) {
          window.open("./analysis.html", "_self");
        }
        /*if (key == 4){
          window.open("./tools.html","_self");
        }*/
        if (key == 5){
          window.open("./bestdoriany.html","_self");
        }
      }
    }
  });
</script>
<style>
  body{
	min-width:750px;
	overflow:auto;
}
</style>