<div>
    <div style="padding:10px">
        <div style="padding-bottom: 10px;">
            <el-row>
                <el-col :span="5">
                    <div style="padding-left:20px">
                        <el-slider v-model="diffid" :max="3" :min="0" :format-tooltip="showdiffrange" :marks="marks"
                            @input="changecolor">
                        </el-slider>
                    </div>
                </el-col>
                <el-col :span="19">
                    <div style="text-align: right;">
                        <span style="width: 200px;display: inline-block;margin-right: 10px;">
                            <el-input v-model="bestdoriid" placeholder="Bestdori社区谱面id" @input="inputchange($event)" @keyup.enter.native="getbestdorichart">
                            </el-input>
                        </span>
                        <el-button @click="getbestdorichart">获取</el-button>
                        <el-button @click="clearinput">重置</el-button>
                    </div>
                </el-col>
            </el-row>
            <div style="padding-bottom: 10px;"></div>
            <el-input type="textarea" :rows="10" v-model="inputstr" placeholder="请输入bestdori谱面"
                @input="inputchange($event)" v-loading="loading" @clear="clearinput" :disabled="showdetail" clearable>
            </el-input>
        </div>
        <el-row>
            <el-button type="primary" @click="analysis" style="width:100%">分析</el-button>
        </el-row>
    </div>
    <div v-show="showdetail">
        <el-divider>谱面分析</el-divider>
        <el-checkbox v-model="viewhelp" @change="inputchange($event)">显示帮助</el-checkbox>
        <el-row :gutter="12">
            <el-col :xl="12" :lg="12" :md="24" :sm="24" :xs="24">
                <div style="padding-bottom: 10px;">
                    <el-divider>
                        谱面难度
                    </el-divider>
                    <div style="padding-bottom: 30px;">
                        <el-col :span="20">
                            <div style="vertical-align: middle;padding-top:10px;">
                                <el-progress :show-text="false" :percentage="calcpercentage()" :stroke-width="26"
                                    :color="getdiffcolor()">
                                </el-progress>
                            </div>
                        </el-col>
                        <el-col :span="4">
                            <el-tooltip :disabled="!viewhelp" content="谱面的总难度，出现大于小于号则说明超出量程">
                                <div style="vertical-align: middle;text-align: center;font-size: xx-large">
                                    <span>{{totalstrdiff}}</span>
                                </div>
                            </el-tooltip>
                        </el-col>
                    </div>
                </div>
                <el-divider>详细数据</el-divider>
                <el-row :gutter="12">
                    <el-col :span="6">
                        <el-tooltip :disabled="!viewhelp" placement="top">
                            <div slot="content">Time: 谱面时间<br />BPM: 每分钟节拍数<br />Flick: 谱面含有粉键数</div>
                            <el-card :body-style="{ padding: '5px'}" shadow="hover">
                                <div style="text-align: center;padding-bottom: 10px;">
                                    <el-divider>Time</el-divider>
                                    <span style="font-size: x-large; padding-bottom: 10px;">
                                        <span v-if="totaltimesec < 10.0">{{totaltimemin}}'0{{totaltimesec}}</span>
                                        <span v-else>{{totaltimemin}}'{{totaltimesec}}</span>
                                    </span>
                                    <el-divider>BPM</el-divider>
                                    <span style="font-size: x-large;">
                                        <span v-if="bpmlow == bpmhigh">{{bpmlow}}</span>
                                        <span v-else>{{bpmlow}}~{{bpmhigh}}</span>
                                    </span>
                                    <el-divider>Flick</el-divider>
                                    <span style="font-size: x-large;">{{totalflick}}</span>
                                </div>
                            </el-card>
                        </el-tooltip>
                    </el-col>
                    <el-col :span="6">
                        <el-tooltip :disabled="!viewhelp" placement="top">
                            <div slot="content">Note: 谱面物量<br />NPS: 每秒平均物量<br />Diff: NPS难度</div>
                            <el-card :body-style="{ padding: '5px'}" shadow="hover">
                                <div style="text-align: center; padding-bottom: 10px;">
                                    <el-divider>Note</el-divider>
                                    <span style="font-size: x-large;">{{totalnote}}</span>
                                    <el-divider>NPS</el-divider>
                                    <span style="font-size: x-large;">{{totalnps}}</span>
                                    <el-divider>Diff</el-divider>
                                    <span style="font-size: x-large;">{{npsstrdiff}}</span>
                                </div>
                            </el-card>
                        </el-tooltip>
                    </el-col>
                    <el-col :span="6">
                        <el-tooltip :disabled="!viewhelp" placement="top">
                            <div slot="content">Hit: 谱面中需要击打的元素(包括单键、粉键、绿条开始键)<br />HPS: 每秒平均击打屏幕的次数<br />Diff: HPS难度
                            </div>
                            <el-card :body-style="{ padding: '5px'}" shadow="hover">
                                <div style="text-align: center; padding-bottom: 10px;">
                                    <el-divider>Hit</el-divider>
                                    <span style="font-size: x-large;">{{totalhitnote}}</span>
                                    <el-divider>HPS</el-divider>
                                    <span style="font-size: x-large;">{{totalhps}}</span>
                                    <el-divider>Diff</el-divider>
                                    <span style="font-size: x-large;">{{hpsstrdiff}}</span>
                                </div>
                            </el-card>
                        </el-tooltip>
                    </el-col>
                    <el-col :span="6">
                        <el-tooltip :disabled="!viewhelp" placement="top">
                            <div slot="content">MaxHPS: 每秒最高击打屏幕次数<br />MaxFPS: 每秒最高击打粉键的次数<br />MaxSPD:
                                最高滑动绿条的速度，单位lane/s</div>
                            <el-card :body-style="{ padding: '5px'}" shadow="hover">
                                <div style="text-align: center; padding-bottom: 10px;">
                                    <el-divider>MaxHPS</el-divider>
                                    <span style="font-size: x-large;">{{maxhps}}</span>
                                    <el-divider>MaxFPS</el-divider>
                                    <span style="font-size: x-large;">{{maxfps}}</span>
                                    <el-divider>MaxSPD</el-divider>
                                    <span style="font-size: x-large;">{{maxslidespeed}}</span>
                                </div>
                            </el-card>
                        </el-tooltip>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :xl="12" :lg="12" :md="24" :sm="24" :xs="24">
                <el-tooltip :disabled="!viewhelp" content="NPS 每秒物量数， HPS 每秒击打数 , FPS 每秒击打的粉键数">
                    <canvas id="map"></canvas>
                </el-tooltip>
            </el-col>
        </el-row>
        <div style="margin-bottom: 50px;">
            <p></p>
        </div>
    </div>
    <div>
        <el-divider>使用说明</el-divider>
        <div style="padding-left : 2%">
            <p>Beta 1.0.1 版，运算结果仅供参考，不代表曲目的最真实难度。</p>
            <p>请选择正确的难度分级，否则将会造成较大的误差</p>
            <p>自定义谱面（仅支持bestdori社区谱面格式）</p>
            <p>1. 在大输入框中输入bestdori格式的谱面</p>
            <p>2. 拖动输入框左下角的滑块，选择您的谱面的分级：Easy/Normal/Hard/Expert，默认Expert</p>
            <p>3. 点击分析按钮，即可得到分析结果</p>
            <p>社区谱面：在右下角的小输入框中输入想要获取的bestdori谱面（不包括官谱），点击获取按钮，即可获得分析。</p>
            <p>注：若想分析其它谱面，点击清空，再输入新的谱面。或者在右下角的小输入框中输入新的想分析的bestdori社区谱面</p>
            <p>量程：Easy: 5~10 Normal: 11~15 Hard: 16~21 Expert: 22~26，超出量程时显示≥或≤ 和 地板/天花板 难度</p>
            <p>警告：请选择正确的难度分级，否则将会造成较大的误差</p>
            <p>Expert难度运算结果可能与真实难度差异较大，谱面难度的精确度一般为±1级</p>
            <p>建模的时候忽略了锁手和卡手配置影响难度的情况，若出现上述配置一般难度会偏低2~3级（写分配手的代码量太大了，摸了，后期会加）</p>
            <p>如在使用过程中出现任何问题，联系作者</p>
        </div>
    </div>
</div>